/New_Full_MdR/New_Full_MdR.cache
/New_Full_MdR/New_Full_MdR.hw
/New_Full_MdR/New_Full_MdR.ip_user_files
/New_Full_MdR/New_Full_MdR.ipdefs
/New_Full_MdR/New_Full_MdR.runs
/New_Full_MdR/New_Full_MdR.sim

/New_Full_MdR/vivado.log
/New_Full_MdR/vivado.jou